RewriteEngine On

RewriteCond %{REQUEST_URI} /wp-content/uploads/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.+) %{ENV:REMOTE_URL}/$1 [END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+) wp-core/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+) wp-core/index.php [L]
